<?xml version="1.0"?>
<config>
    <modules>
        <Yameveo_ProductInfo>
            <version>1.0.0</version>
        </Yameveo_ProductInfo>
    </modules>
    <global>
        <blocks>
            <yameveo_productinfo>
                <class>Yameveo_ProductInfo_Block</class>
            </yameveo_productinfo>
        </blocks>
        <helpers>
            <yameveo_productinfo>
                <class>Yameveo_ProductInfo_Helper</class>
            </yameveo_productinfo>
        </helpers>
        <models>
            <yameveo_productinfo>
                <class>Yameveo_ProductInfo_Model</class>
            </yameveo_productinfo>
            <catalog>
                <rewrite>
                    <product_api>Yameveo_ProductInfo_Model_Catalog_Product_Api</product_api>
                    <product_api_v2>Yameveo_ProductInfo_Model_Catalog_Product_Api_V2</product_api_v2>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>